.header { margin-bottom: 0.6em; }
.user-info { color: #707276; float: right; font-size: 0.6em; }

.app-info { display: inline-block; font-family: 'Open Sans Light',sans-serif; font-size: 1.5em;
    letter-spacing: -2px; font-weight: 200; letter-spacing: -2px; margin-top: 0em;
    margin-bottom: 0em;
    color: orange; text-shadow: 1px 1px #ff0000;}
.nav-wrapper { float: left; margin-right: 1em; }
.content { float: left; }

ul.nav { list-style-type: none; padding-left: 0; margin-left: 0; }
ul.nav a { display: inline-block; width: 8em; text-decoration: none; background-color: white; color: black; padding: 5px; border-bottom: 1px solid #08c; }

body, input, button, label { font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif; font-style: normal; font-weight: 300; font-size: 1em; }
button { color: #fff; background: #08c; padding: 0.5em; border: 0; }
button:disabled { background: grey; }

@media (max-width: 400px) {
    .content { width: 100%; }
    .nav-wrapper {
        position:fixed;
        height:2.8em;
        bottom:0px;
        left:0px;
        right:0px;
        margin-bottom:0px;
        background-color: white;
    }
    ul.nav { margin: 0.3em; }
    ul.nav li { display: inline; border-right: 2px solid #08c; }
    ul.nav li:last-of-type { display: inline; border-right: none; }
    ul.nav a { width: auto; border-bottom: none; }
}
