body, input, button, label { font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif; font-style: normal; font-weight: 300; font-size: 1em; }
.user-info { color: #707276; float: right; font-size: 14px; }
button { color: #fff; background: #08c; padding: 1em; border: 0; }
