<div class="tasting">
    <label>Beer</label>
    <form name="editTastingForm" ng-submit="save(tasting)">
        <autocomplete ng-model="tasting.beer" data="beers" on-type="onType" required></autocomplete> <span class="error" ng-show="editTastingForm.beer.$error.required">*</span><br>
        <label>Brewery</label>
        <input type="text" ng-model="tasting.brewery" name="brewery" required/> <span class="error" ng-show="editTastingForm.brewery.$error.required">*</span><br>
        <label>Rating</label>
        <input type="text" ng-model="tasting.rating" name="rating" required/> <span class="error" ng-show="editTastingForm.rating.$error.required">*</span><br>
        <button type="submit" ng-disabled="editTastingForm.$invalid">Save</button>
    </form>
</div>
<!--
Beer name
Brewery
Rating

pattern="[A-Za-z][0-9][A-Za-z] [0-9][A-Za-z][0-9]
-->
