<div class="tasting">

    {{foo}}

    <label>Beer</label>
    <input type="text" name="beer" ng-model="beer">  {{ beer }}

    <label>Brewery</label>
    <input type="text" name="brewery"/>

    <label>Rating</label>
    <input type="text" name="rating"/>

<!-- beers is a collcetion in scope. Objects have name attribute -->
    <autocomplete ng-model="seletedBeer" data="beers" on-type="onType"></autocomplete>

</div>
<!--
Beer name
Brewery
Rating

pattern="[A-Za-z][0-9][A-Za-z] [0-9][A-Za-z][0-9]
-->
